*{
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Andale Mono, monospace;
}

.main{
    background-image: url("pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
}

h1{
    font-size: 60px;
    text-align: center;
    color: white;
}

.section_one{
    color:#15202B;
    padding: 5%;
    display: flex;
    flex-direction: row;
}

.section_one_text{
    display: flex;
    flex-direction: column;
    width:50%;
}

.section_one_text form{
    display: flex;
    flex-direction: column;
}

.section_one_text h1{
    font-size: 40px;
    text-transform: uppercase; 
    font-weight: 700;
    padding: 2%;
    color:#15202B;
}

.section_one_text p{
    padding:3%;
    text-transform:none;
    font-size: 25px;
    font-weight: 500;
    line-height: 45px;
    color:#15202B;
}
.section_one_photo{
    display:flex;
    flex-direction: column;
    width: 50%;
    justify-content:center;
    align-items: center;
}
.section_one_photo img{
    width:30%;
    border-radius: 100px;
    margin-bottom: 2%;
}

.section_two{
    display: flex;
    padding: 5%;
    background-color: #15202B;
    color:white;
}

.section_two_text{
    width:50%;
}

.section_two_text h1{
    font-size: 40px;
    text-transform: uppercase; 
    font-weight: 700;
    padding: 2%;
}
.section_two_text p{
    padding:3%;
    text-transform:none;
    font-size: 25px;
    font-weight: 500;
    line-height: 45px;
}

.section_two_photo{
    display:flex;
    flex-direction: column;
    width: 50%;
    justify-content:center;
}
.section_two_photo img{
    width:100%;
    border: solid 5px white;
    border-radius: 30px;
}

.section_three{
    color:#15202B;
}

.section_three p{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700; 
    text-align: center;
    padding: 2%;
}

.section_three form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email{
    width: 20%;
    padding: 1%;
    font-size: 20px;
    border: black solid 3px;
    border-radius: 30px;
    margin-bottom: 1%;
}

#msg{
    width: 20%;
    padding: 1%;
    font-size: 20px;
    border: black solid 3px;
    border-radius: 30px;
    margin-bottom: 1%;
}

#submit{
    width: 10%;
    padding: 1%;
    font-size: 20px;
    border: black solid 3px;
    border-radius: 30px;
    color: black;
    background-color: white;
    margin-bottom: 1%;
}

#submit:hover{
    transition: 1s;
    border: white solid 3px;
    color: white;
    background-color: black;
}

.section_four{
    background-color: #15202B;
    color:white;
    padding: 5%;
}

.section_four p{
    font-size: 40px;
    text-transform: uppercase;
    margin-left:3%;
    font-weight: 700;
}

.section_four_progress{
    margin-top:2%;
}

.section_four_progress progress{
    width: 1000px;
    height: 50px;
}

.section_four_progress label{
    font-size: 30px;
    font-weight: 500;
}

.section_five{
    display:flex;
    text-align: center;
    flex-direction: column;
}

.section_five h2{
    font-size: 40px;
    font-weight: 700;
    padding: 2%;
}

#haslo{
    width: 10%;
    padding: 1%;
    font-size: 20px;
    border: black solid 3px;
    border-radius: 30px;
    color: black;
    background-color: white;
    margin-bottom: 1%;
}

.section_five form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section_five p{
    color: red;
    font-size: 25px;
    margin-bottom: 2%;
}

#text{
    min-width: 95%;
    min-height: 400px;
    max-width: 95%;
    width: 95%;
    height: 400px;
    max-height: 400px;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    border: solid black 5px;
    border-radius: 12px;
    outline: none;
    padding: 1%;
    margin-bottom: 2%;
}

#photo_text{
    display: flex;
    align-items: center;
    width: 300px;
    height: 30px;
    font-size: 20px;
    outline: none;
    border: solid black 3px;
    border-radius: 12px;
    padding: 1%;
    margin-bottom: 5%;
}

#submit_text{
    width: 250px;
    background-color: transparent;
    border: solid black 3px;
    padding: 2%;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
}

#submit_text:hover{
    transition: 1s;
    background-color: black;
    border: solid white 3px;
    color: white;
}

#textp{
    min-width: 95%;
    min-height: 400px;
    max-width: 95%;
    width: 95%;
    height: 400px;
    max-height: 400px;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    border: solid white 5px;
    border-radius: 12px;
    outline: none;
    padding: 1%;
    margin-bottom: 2%;
    background-color: #15202B;
    color: white;
}

#submit_p{
        width: 250px;
        background-color: transparent;
        border: solid white 3px;
        padding: 2%;
        border-radius: 10px;
        font-size: 20px;
        text-transform: uppercase;
        color: white;
}

#submit_p:hover{
    transition: 1s;
    color: #15202B;
    border: solid #15202B 3px;
    background-color: white;
}

#photo_projekt{
    display: flex;
    align-items: center;
    width: 300px;
    height: 30px;
    font-size: 20px;
    outline: none;
    background-color: transparent;
    border: solid white 3px;
    border-radius: 12px;
    padding: 1%;
    margin-bottom: 2%;
    color: white;
    margin-top: 2%;
}

#submit_projekt{
    width: 250px;
    background-color: transparent;
    border: solid white 3px;
    padding: 2%;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

#submit_projekt:hover{
    transition: 1s;
    color: #15202B;
    border: solid #15202B 3px;
    background-color: white;
}

#tekst_u {
    width: 300px;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    outline: none;
    border: solid white 3px;
    border-radius: 10px;
    padding: 10px;
}

#submit_u{
    font-size: 25px;
    background-color: transparent;
    color: white;
    border: solid white 3px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#submit_u:hover{
    transition: 1s;
    color: #15202B;
    border: solid #15202B 3px;
    background-color: white;
}

#tekst_um{
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: solid white 2px;
    border-radius: 10px;
    background-color: transparent;
    margin-bottom: 1%;
}

#tekst_um::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: white;
    cursor: pointer;
    border: solid white 1px;
    border-radius: 10px;
  }

#submit_um{
    text-transform: uppercase;
    font-size: 15px;
    background-color: transparent;
    color: white;
    border: solid white 2px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#tekst_umi{
    -webkit-appearance: none;
    width: 40%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: solid white 2px;
    border-radius: 10px;
    background-color: transparent;
}

#tekst_umi::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: url('dick.png');
    border-radius: 5px;
    cursor: pointer;
  }